// @import '../Style/Base/Base.scss';
@import '../Style/Layout/Layout.module.scss';

.video {
    
    iframe {
        width: 100%;
        height: 400px;
    }

    .paragraph {
        margin-block: 25px;
    }

}

.blogSection {
    position: relative;

    .backgroundTitle {
        background-image: url('../../images/background.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        text-align: center;
        position: relative;
        margin-top: -34px;
        z-index: 5;
    
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: $blackColor;
            opacity: .2;
            z-index: -1;
        }
    
        .title {
            color: $whiteColor;
        }
    }

    .image {
        margin-block: 20px;
        position: relative;
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb($blackColor, .5);
            z-index: 2;
        }
    
        img {
            width: 100%;
            height: auto;
        }
    
    }

    .topicSection {
        margin-bottom: 50px;

        .topicDesign {
            margin-bottom: 15px;
        }
    
        .paragraph {
            margin-bottom: 10px;
        }

        .details {
            margin-bottom: 10px;
        
            span {
                margin-right: 15px;
                color: #44d7b6;
                font-size: 14px;
                text-transform: capitalize;
                transition: all .3s;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
            
                i {
                    color: #44d7b6;
                    margin-right: 5px;
                    font-size: 16px;
                }
            
                &:nth-child(2) {
                    color: #e80139;
                
                    i {
                        color: #e80139;
                        // font-weight: 700;
                    }
                }
            
                &:nth-child(3) {
                    color: #002248;
                
                    i {
                        color: #002248;
                        // font-weight: 700;
                    }
                }
            
            }
        
        }
    
        &:nth-child(2n) {
            .count {
                background-color: #fc9103;
            
                &::before {
                    border-color: #fc9103;
                }
            }
        
            .title {
                background-color: #fc9103;
            }
        }
    
        &:nth-child(3n) {
            .count {
                background-color: #e80139;
            
                &::before {
                    border-color: #e80139;
                }
            }
        
            .title {
                background-color: #e80139;
            }
        
        }
    
        &:nth-child(4n) {
            .count {
                background-color: #5fb69d;
            
                &::before {
                    border-color: #5fb69d;
                }
            }
        
            .title {
                background-color: #5fb69d;
            }
        }
    
    }

    .box {
        border-bottom: 1px solid rgb($blackColor, .2);
        position: sticky;
        top: 100px;
        // height: 100vh;
    
        .title {
            font-family: $fontSandMedium;
            font-size: 25px;
            text-align: center;
            font-weight: 900;
        }
    
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-block: 20px;
        
            li {
                margin-block: 20px;
            
                a {
                    color: $greenColor;
                    font-size: 16px;
                    position: relative;
                
                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: $greenColor;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                        z-index: 1;
                    }
                
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    
    }
}