@import '../Style/Layout/Layout.module.scss';

.linkActive {
    color: $blueColor !important;
    background-color: rgb(68 162 255 / 12%);
}

.profileSec {
    // height: 100vh;
    margin-bottom: 50px;

    .leftBox {
        box-shadow: 0 20px 20px 0px #0000000d;
        margin-block: 10px;
        padding-block: 15px;
    
        .quickLinks {
    
            ul {
            
                li {
                    margin: 10px ;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                
                    &:hover {
                    
                        a {
                            color: $blueColor;
                            background-color: rgb(68 162 255 / 12%);
                        }
                    }
                
                    a {
                        display: block;
                        color: #2c2c2cb4;
                        padding: 8px 15px;
                        text-transform: capitalize;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    
                        i {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    
        .profileBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 15px;
        
            .profileData {
                display: flex;
                align-items: center;
                gap: 10px;
            
                .userTitles {
                
                    h4 {
                        font-size: 16px;
                        color: $mauveColor;
                    }
                
                    span {
                        font-size: 12px;
                        color: $blackColor;
                        opacity: .4;
                    }
                }
            }
        }
    }
}

// Moving zakr
.showToggle {
    position: fixed;
    right: 5px;
    bottom: 0;
    padding: 0 10px;
    background: #040400;
    color: beige;
    text-transform: capitalize;
    direction: ltr;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.zikrScroll {
    display: flex;
    direction: rtl;
    white-space: nowrap;
    background-color: rgba($color: #000000, $alpha: .5);
    padding: 20px;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 50;
    
    .hideToggle {
        position: absolute;
        right: 5px;
        top: -20px;
        padding: 0 10px;
        background: #040400;
        color: beige;
        text-transform: capitalize;
        direction: ltr;
        font-size: 14px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transition: all .5s ease-in-out;
        cursor: pointer;
        z-index: 1000;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
}

    .scrollContent {
        display: flex;
        animation: movingZikr 10000s 0s linear infinite;
        -webkit-animation: movingZikr 10000s 0s linear infinite;
    }
    
    .box {
        margin-bottom: 0 !important;
        padding: 0 !important;
        border: none !important;
    
        h4 {
            display: inline;
            padding: 10px 20px;
            margin: 0 5px;
            background-color: rgb(44, 67, 79);
            color: $whiteColor;
            text-align: center;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            width: fit-content;
        }
    }

    ul {
    
        li {
            display: inline;
        
            p {
                display: inline;
                background-color: $whiteColor;
                color: $blackColor;
                text-align: center;
                font-size: 25px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                padding: 10px 20px;
                margin: 5px;
            }
        }
    }
}

@keyframes movingZikr {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}

    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}
