// @import '../Style/Base/Base.scss';
@import '../Style/Layout/Layout.module.scss';

.error {
    font-family: $fontDescriptionBlack;
    text-align: center;
    padding: 5% 0;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: auto;
    }

}