@import '../Style/Layout/Layout.module.scss';

.title {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
}

.btns {
    margin-block: 20px;
    margin-right: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.signBtn {
    border: none !important;
    background-color: $greenColor;
    color: $whiteColor;
    text-transform: uppercase;
    padding: 10px 35px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;

    &:hover {
        opacity: .7;
    }
}

.icon,
.iconHover {
    transition: opacity 0.3s ease, transform 0.3s ease;
    // position: absolute;
}

.icon {
    opacity: 1;
}

.iconHover {
    opacity: 0;
    transform: translateX(10px); /* Adds a slight shift */
}

.signBtn:hover .icon {
    opacity: 0;
    transform: translateX(-10px); /* Moves out of view */
}

.signBtn:hover .iconHover {
    opacity: 1;
    transform: translateX(0); /* Moves into view */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
}
    to {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}

.isValid {
    animation: fadeIn 0.3s ease-in-out;
}

.isInvalid {
    animation: fadeIn 0.3s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Higher than the main page */
}

.formContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    // overflow: hidden;
    margin-top: 0;

    &::after {
        content: "";
        position: absolute;
        right: -150px;
        top: -150px;
        width: 500px;
        height: 500px;
        background-color: indianred;
        clip-path: polygon(49% 0, 0% 100%, 100% 70%);
        z-index: -1;
    }

    &::before {
        content: "";
        position: absolute;
        left: -150px;
        bottom: -150px;
        width: 500px;
        height: 500px;
        background-color: gold;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 1;
    }

    .formContent {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #fffffff0;
        box-shadow: 11px 10px 38px 20px rgba(0, 0, 0, 0.1);
        width: 85%;
        height: 600px;
        overflow: hidden;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        z-index: 10;
    
        &::before {
            // content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: red;
            width: 50px;
            height: 50px;
            border-radius: 0 0 50px 0;
            -webkit-border-radius: 0 0 50px 0;
            -moz-border-radius: 0 0 50px 0;
            -ms-border-radius: 0 0 50px 0;
            -o-border-radius: 0 0 50px 0;
            z-index: 10;
    }

        &::after {
            // content: "";
            position: absolute;
            right: 0;
            top: 0;
            background-color: red;
            width: 50px;
            height: 50px;
            border-radius: 0 0 0 50px;
            -webkit-border-radius: 0 0 0 50px;
            -moz-border-radius: 0 0 0 50px;
            -ms-border-radius: 0 0 0 50px;
            -o-border-radius: 0 0 0 50px;
            z-index: 10;
}

        .signInBox{
            position: absolute;
            width: 100%;
            height: 100%;
            // display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: #ffffffd4;
            opacity: 0;
            transform: translateX(0);
            transition: opacity 0.5s ease, transform 0.5s ease;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
            -moz-transition: opacity 0.5s ease, transform 0.5s ease;
            -ms-transition: opacity 0.5s ease, transform 0.5s ease;
            -o-transition: opacity 0.5s ease, transform 0.5s ease;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
}
    
        .signUpBox {
            @extend .signInBox ;
            opacity: 0;
        }

        .signInBox.active,
        .signUpBox.active {
            opacity: 1;
            transform: translateX(0);
            // display: flex;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            z-index: 1;
        }

        form {
            text-align: center; 
            padding: 20px;
        
            .title {
                color: $greenColor;
                margin-bottom: 20px;
            }
        
            .social {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-bottom: 15px;
            
                i {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #0000006f;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        
            .paragraph {
                color: $blackColor;
                opacity: .5;
                font-weight: 700;
                margin-bottom: 10px;
            }
        
            .inputField {
                display: flex;
                align-items: center;
                gap: 15px;
                width: 80%;
                margin: 0 auto;
                overflow: hidden;
                border: 1px solid rgb(0, 0, 0, .2);
                margin-bottom: 15px;
                padding: 5px 15px;
                border-radius: 7px;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                -ms-border-radius: 7px;
                -o-border-radius: 7px;
            
                input {
                    border: none !important;
                    background-color: transparent !important;
                    color: $blackColor !important;
                
                    &:-webkit-autofill,
                    &:-webkit-autofill:focus {
                        transition: background-color 0s 600000s, color 0s 600000s !important;
                    }
                
                    &:focus {
                        border: none !important;
                        box-shadow: none !important;
                        background-color: transparent !important;
                    }
                
                    &::placeholder {
                        font-weight: 700;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    }
                
                    &:focus::placeholder {
                        color: transparent;
                    }
                }
            }
        
            .forgetPassword {
                display: block;
                text-transform: capitalize;
                color: #2196F3;
                white-space: nowrap;
                font-size: 14px;
                font-weight: 700;
                transition: all .5s;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
            
                &:hover {
                    opacity: .7;
                }
            }
        
            .activateAccount {
                @extend .forgetPassword ;
                color: #009688;
            }

            .btns {
                margin-block: 15px;
            }
        }
    
        .signDesign {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            height: 100%;
            background: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,118,1) 100%);
        
            .box {
            
                .title {
                    color: $whiteColor;
                }
            
                .paragraph {
                    color: rgb(255, 255, 255, .8);
                    margin-block: 15px;
                }
            
                .signBtn {
                    border: 1px solid $whiteColor !important;
                    background-color: transparent;
                }
            }
        }
    }
}

/* Media Query */
@media (max-width: 450px) {

    .formContainer {
    
        &::after {
            right: -380px;
            top: -280px;
            clip-path: polygon(20% 0, 0% 100%, 100% 70%);
        }
    
        &::before {
            left: -300px;
            bottom: -300px;
        }
    }

    .formContent {
        height: 600px !important;
        width: 95% !important;
    
        .forgetPassword {
            white-space: wrap !important;
        }
    }

    .inputField {
        width: 100% !important;
    }

    .signBtn {
        padding: 10px 20px;
    
        &:nth-child(2) {
            background-color: $lightBlueColor;
        }
    }
}

@media (max-width: 320px) { 
    .formContent {
        height: 650px !important;
    }
}

@media (min-width: 768px) and (max-width: 1020px) {
    .inputField {
        width: 100% !important;
    }
}