@import '../Style/Layout/Layout.module.scss';

.currentlyNav {
    margin-block: 50px;

    h4 {
        display: inline;
        color: gray;
        text-transform: capitalize;
        font-size: 18px;
        font-family: $kalamBoldFont;
        padding: 8px 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    
        i {
            color: $blackColor;
            font-size: 16px;
        
            &:last-child {
                color: gray;
            }
        }
    }
}

.programSec {

    .image {
        width: 100%;
        height: 100%;
    
        img {
            width: 100%;
            height: auto;
        }
    }

    .programOverview {
    
        .programTitle {
            font-size: 35px;
            font-family: $blackOpsFont;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    
        .overview {
        
            .overviewTitle {
                text-transform: capitalize;
                color: $greenColor;
                margin-bottom: 10px;
            }
        
            ul {
            
                li {
                    margin-left: 30px;
                
                    p {
                        font-size: 18px;
                        opacity: .6;
                    
                        i {
                            color: $blackColor;
                            font-size: 18px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .programDetails {
        margin-block: 50px;
    
        ul {
            display: flex;
            align-items: center;
            // gap: 10px;
        
            li {
            
                button {
                    text-transform: capitalize;
                    color: #9E9E9E;
                }
            }
        }
    
        .detailsBox {
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 20px;
        
            .details {
            
                .detailsTitle {
                    text-transform: capitalize;
                    font-size: 22px;
                    color: $yellowColor;
                    margin-bottom: 10px;
                }
            
                .keyFeatures {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    
                    .keyFeaturesTitle {
                        color: $blackColor;
                        font-size: 20px;
                        margin-left: 15px;
                    }
                
                    .keyFeaturesDesc {
                        margin-bottom: 0;
                        margin-left: 10px;
                    }
                }
            
                .useCases {
                
                    .useCasesTitle {
                        @extend .detailsTitle ;
                    }
                
                    ul {
                        display: block;
                        list-style: disc;
                        margin-left: 25px;
                    
                        li {
                        
                            .description {
                                font-size: 18px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        
            .systemRequirements {
            
                .systemRequirementsTitle {
                    text-transform: capitalize;
                    color: $greenColor;
                    margin-bottom: 10px;
                    font-size: 22px;
                }
            
                .requirements {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                
                    .requirementsTitle {
                        margin-left: 15px;
                        color: $blackColor;
                        font-size: 20px;
                    }
                
                    .requirementsDesc {
                        color: #1a1a1a;
                        margin-left: 10px;
                        font-family: 'Roboto', 'sans-serif';
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        
            .installationSteps {
            
                .installationTitle {
                    color: $orangeColor;
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.downloadProgram {
    margin-block: 40px;

    &:hover {
    
        .top {
            margin: -80px 0 0 10px;
            line-height: 35px;
        }
    
        .bottom {
            margin: -10px 0 0 10px;
        }
    }

    &:active {
    
        .bottom {
            margin: -20px 0 0 10px;
        }
    
        .top {
            margin: -70px 0 0 10px;
        } 
    }

    a {
        display: block;
        height: 50px;
        width: 200px;
        background: #00b7ea;
        color: white;
        font: 17px/50px Helvetica, Verdana, sans-serif;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
        background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
        background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
        background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
        background: linear-gradient(top, #00b7ea 0%,#009ec3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    
        &:active {
            background: #00b7ea;
            background: -moz-linear-gradient(top,  #00b7ea 36%, #009ec3 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#00b7ea), color-stop(100%,#009ec3));
            background: -webkit-linear-gradient(top,  #00b7ea 36%,#009ec3 100%);
            background: -o-linear-gradient(top,  #00b7ea 36%,#009ec3 100%);
            background: -ms-linear-gradient(top,  #00b7ea 36%,#009ec3 100%);
            background: linear-gradient(top,  #00b7ea 36%,#009ec3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
        }
    }

    b {
        background: #222;
        display: block;
        height: 40px;
        width: 180px;
        margin: -50px 0 0 10px;
        text-align: center;
        font: 12px/45px Helvetica, Verdana, sans-serif;
        color: #fff;
        position: absolute;
        z-index: -1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    }
}

// Moving zakr
.showToggle {
    position: fixed;
    right: 5px;
    bottom: 0;
    padding: 0 10px;
    background: #040400;
    color: beige;
    text-transform: capitalize;
    direction: ltr;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.zikrScroll {
    display: flex;
    direction: rtl;
    white-space: nowrap;
    background-color: rgba($color: #000000, $alpha: .5);
    padding: 20px;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 50;
    
    .hideToggle {
        position: absolute;
        right: 5px;
        top: -20px;
        padding: 0 10px;
        background: #040400;
        color: beige;
        text-transform: capitalize;
        direction: ltr;
        font-size: 14px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transition: all .5s ease-in-out;
        cursor: pointer;
        z-index: 1000;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
}

    .scrollContent {
        display: flex;
        animation: movingZikr 10000s 0s linear infinite;
        -webkit-animation: movingZikr 10000s 0s linear infinite;
    }
    
    .box {
        margin-bottom: 0 !important;
        padding: 0 !important;
        border: none !important;
    
        h4 {
            display: inline;
            padding: 10px 20px;
            margin: 0 5px;
            background-color: rgb(44, 67, 79);
            color: $whiteColor;
            text-align: center;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            width: fit-content;
        }
    }

    ul {
    
        li {
            display: inline;
        
            p {
                display: inline;
                background-color: $whiteColor;
                color: $blackColor;
                text-align: center;
                font-size: 25px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                padding: 10px 20px;
                margin: 5px;
            }
        }
    }
}

@keyframes movingZikr {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}

    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}
