// @import '../Style/Base/Base.scss';
@import '../Style/Layout/Layout.module.scss';

h4 {
    margin-bottom: 0;
}

.timing {
    color: $lightBlueColor;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;

    &:hover {
        opacity: .7;
    }
}

/* From Uiverse.io by akshayjalluri6 */ 

.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
  }
  
  .instagram {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  
  .youtube {
    background-color: #ff0000;
  }
  
  .twitter {
    background-color: #1da1f2;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: 0.4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: 0.4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: 0.3s;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: 0.4s;
  }
  
  .svgIcon {
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    box-shadow: $boxShadow;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;

    .upperHeader {
        background-color: $whiteColor;
        padding-block: 10px;
    
        .azan {
            font-size: 15px;
            margin-bottom: 0;
        }

        .left {
        
            h4 {
                font-size: 15px;
            }
        
            .azan {
                color: $greenColor;
            
            }
            span {
                color: $greenColor;
            }
        }

        .center {

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
            
                li {
                    margin: 10px;
                    padding: 0 10px;
                
                    .azan {
                        font-size: 14px;
                        color: $blueColor;
                    
                        span {
                            color: $redColor;
                        }
                    }
                }
            }
        }
    
        .right {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 15px;
        
            span {
                font-size: 14px;
            }
        
            .social {
                display: flex;
                gap: 8px;
            
                a {
                    &:nth-child(1) {
                        color: $blueColor;
                    }
                
                    &:nth-child(2) {
                        color: $redColor;
                    }
                
                    &:nth-child(3) {
                        color: $orangeColor;
                    }
                }
            }
        
            select {
                font-size: 14px;
                width: 100px;
                display: -webkit-box;
                line-clamp: 1;
                -webkit-line-clamp: 1; /* Number of lines to show before truncating */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 100px; /* Adjust according to the line height */

                option {

                    img {
                        width: 100%;
                    }
                }
            
                &:focus {
                    border-color: #dee2e6 !important;
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
        }
    }

    .navbar {
        justify-content: center;
    
        .logo {
        
            a {
                
            
                img {
                    width: 100px;
                    height: auto;
                }
            
            }
        
        }

        ul {
        
            li {
            
                a {
                    color: $whiteColor;
                    font-family: $fontSandBold;
                    cursor: pointer;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                
                    &:hover {
                        color: $redColor;
                    }
                
                    &.activeLink {
                        color: $redColor !important;
                    }   

                }
            
            }
        
        }
    
        .right {
            display: flex;
            align-items: center;
            // gap: 15px;
        
            // span {
            //     font-size: 14px;
            //     color: $whiteColor;
            //     display: none;
            // }
        
            .social {
                display: flex;
                gap: 8px;
            
                a {
                    // background-color: $whiteColor;
                    // padding: 0;
                    // margin: 0;
        
                    &:nth-child(1) {
                        color: $blueColor;
                    }
                
                    &:nth-child(2) {
                        color: $redColor;
                    }
                
                    &:nth-child(3) {
                        color: $orangeColor;
                    }
                }
            }
        }

    }

}

.inActiveLink {
    color: $whiteColor;
}

.transform {
    animation: trans 1.5s infinite ;
    -webkit-animation: trans 1.5s infinite ;
    display: inline-block;
}

@keyframes trans {
    0% {
        color: $yellowColor;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        color: #be202e;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
}
}


@media (max-width: 575px) {
    .header {
        position: relative;

        .upperHeader {
        
            .left {
                text-align: center;
            }

            .center {
                display: none;

                ul {
                
                    li {
                        padding: 0;
                    }
                }
            }
        
            .right {
                justify-content: center;
            }
        }
    
    }
}

@media (max-width: 990px) {
    // .header {
    //     .navbar {
        
    //         .right {
    //             display: none;
    //         }
    //     }
    // }

    .header {
        position: relative;
        .upperHeader {
            display: flex;
            flex-direction: column; // Stack elements vertically

            .center {
                ul {
                    flex-wrap: wrap; // Allow wrapping of items
                    justify-content: center; // Center items in the container

                    li {
                        padding: 5px; // Adjust padding for smaller screens
                    }
                }
            }

            .right {
                display: flex; // Keep the social icons and other right elements visible
                flex-wrap: wrap; // Allow wrapping for small screens
                // justify-content: center; // Center items horizontally

                span {
                    font-size: 12px; // Adjust font size for smaller screens
                }
            }
        }

        .navbar {
            ul {
                display: flex; // Keep the navbar items visible
                flex-wrap: wrap; // Allow wrapping of items
                justify-content: center; // Center items
            }
            .right {
                display: none;
            }
        
            .navbarCollapse {
                position: absolute; // Position it under the logo
                top: 100%; // Adjust as necessary
                left: 0;
                width: 100%; // Full width
                padding: 0 20px;
                z-index: 1000; // Ensure it stays on top
                background-color: $blackColor; // Adjust background if needed
        
                &.show {
                    display: block; // Show the items when toggled
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                }
            }
        }
    }
}

.glowOnHover {
    display: inline-block;
    padding: 10px 40px;
    border: none;
    outline: none;
    color: #fff !important;
    background: rgb(17, 17, 17);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:hover {
    
        &::before {
            opacity: 1;
        }
    }

    &:active {
        color: #000;
    
        &::after {
            background: transparent;
        }
    }

    &::before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing_54134 20s linear infinite;
        opacity: 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: opacity .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -ms-transition: opacity .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out;
        -webkit-animation: glowing_54134 20s linear infinite;
    }

    &::after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@keyframes glowing_54134 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.socialLoginIcons {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  }
  .socialLoginIcons svg {
    width: 40px;
  }
  
  .socialIcon1,
  .socialIcon11,
  .socialIcon2,
  .socialIcon22,
  .socialIcon3,
  .socialIcon33,
  .socialIcon4,
  .socialIcon44 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
  }
  
  .icon svg {
    fill: #ffffff;
  }
  
  .socialContainer {
    height: 80px;
    overflow: hidden;
  }
  .socialIcon1 {
    transition-duration: 0.4s;
    background-color: rgb(255, 255, 255);
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }
  .socialIcon1 svg,
  .socialIcon2 svg,
  .socialIcon3 svg,
  .socialIcon4 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .socialIcon11 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
  }
  .socialContainer:hover .socialIcon1 {
    transform: translateY(-70px);
  }
  .socialContainer:hover .socialIcon1 svg,
  .socialContainer:hover .socialIcon2 svg,
  .socialContainer:hover .socialIcon3 svg,
  .socialContainer:hover .socialIcon4 svg {
    opacity: 1;
  }
  .socialIcon2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialContainer:hover .socialIcon2 {
    transform: translateY(-70px);
  }
  .socialIcon3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
  }
  
  .socialContainer:hover .socialIcon3 {
    transform: translateY(-70px);
  }
  .socialIcon4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  
    background: linear-gradient(
      180deg,
      rgba(129, 34, 144, 1) 0%,
      rgba(77, 34, 124, 1) 91%
    );
  }
  
  .socialContainer:hover .socialIcon4 {
    transform: translateY(-70px);
  }
  