// @import '../Style/Base/Base.scss';
@import '../Style/Layout/Layout.module.scss';

.blogSection {
    position: relative;

    .backgroundTitle {
        background-image: url('../../images/background.jpg');
        background-position:  center ;
        background-size: cover;
        background-repeat: no-repeat;
        // height: 300px;
        text-align: center;
        position: relative;
        // margin-top: -34px;
        padding-block: 150px;
        z-index: 5;
    
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background-color: $blackColor;
            opacity: .2;
            z-index: -1;
        }
    
        .title {
            color: $whiteColor;
        }
    }

    .image {
        margin-block: 20px;
        position: relative;
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb($blackColor, .5);
            z-index: 2;
        }
    
        img {
            width: 100%;
            height: auto;
        }
    
    }

    .azkarBox {
        direction: rtl;
    
        .topicSection {
            position: relative;
            margin-bottom: 20px;
            border: 1px solid #000;
            padding: 10px 15px;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
        
            .azkar {
            
                .paragraph {
                    margin-bottom: 10px;
                    font-weight: bold;
                }
            
                .downloadBtn {
                    border: none;
                    margin-bottom: 0;
                    margin-inline: 10px;
                    font-size: 14px;
                    padding: 3px 10px;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }
            }
    
            .btns {
                /* margin-top: 80px; */
                margin-right: 20px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            
                .downloadBtn {
                    background-color: $orangeColor;

                    &:hover {
                        background-color: $orangeColor;
                    }
                }
            }
        
            &:nth-child(2n) {
                .count {
                    background-color: #fc9103;
                
                    &::before {
                        border-color: #fc9103;
                    }
                }
            
                .title {
                    background-color: #fc9103;
                }
            }
        
            &:nth-child(3n) {
                .count {
                    background-color: #e80139;
                
                    &::before {
                        border-color: #e80139;
                    }
                }
            
                .title {
                    background-color: #e80139;
                }
            
            }
        
            &:nth-child(4n) {
                .count {
                    background-color: #5fb69d;
                
                    &::before {
                        border-color: #5fb69d;
                    }
                }
            
                .title {
                    background-color: #5fb69d;
                }
            }
        
        }
    
        .topicDesign {
            margin-bottom: 15px;
            justify-content: center;
        
            .title {
                background-color: transparent;
                // background-image: url('../../images/backgroundazkar-removebg-preview.png');
                // background-position: 100% 100%;
                // background-repeat: no-repeat;
                // background-size: 100% 100%;
                color: $blackColor;
            }
        }
    }

    .videoContainer {
        position: relative;
        width: 100%; // or set a fixed width if needed
        max-width: 100%; // max width for the video
        // margin: 0 auto; // centers the video horizontally
        overflow: hidden; // ensures content doesn't overflow
        border-radius: 10px; // rounded corners for the video container
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // adds a subtle shadow
        margin-block: 10px;
    
        .videoPlayer {
            width: 100%; // makes the video responsive
            height: auto;
            display: block; // removes unwanted spaces below the video
            border-radius: 10px; // apply rounded corners to the video itself
        }

         // Make sure the controls are visible and not hidden
         &:focus {
            outline: none;  // Removes the outline when the video is focused
        }
    }

    .box {
        margin-bottom: 25px;
        border: 1px solid #eaeaea;
        padding: 20px;
    
        .title {
            font-family: $fontSandMedium;
            padding-bottom: 7px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eaeaea;
            font-size: 20px;
            color: #002248;
        }
    
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        
            .quickLink {
                margin-block: 20px;
            
                .cardBox {
                    gap: 20px 10px;
                    width: 100%;
                    height: 100%;
                
                    .img {
                        width: 40%;
                        height: 50%;
                        margin: 0;
                    
                        a {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                        
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    
                    }
                
                    .cardBody {
                        width: 100%;
                    
                        .cardTitle {
                        
                            color: #002248;
                            font-size: 18px;
                            line-height: 24px;
                            text-transform: capitalize;
                            position: relative;
                            margin: 0;
                            transition: all .5s;
                            -webkit-transition: all .5s;
                            -moz-transition: all .5s;
                            -ms-transition: all .5s;
                            -o-transition: all .5s;
                        
                            &:hover {
                                color: $redColor;
                            }
                        
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 0;
                                height: 2px;
                                background-color: $greenColor;
                                transition: all .5s;
                                -webkit-transition: all .5s;
                                -moz-transition: all .5s;
                                -ms-transition: all .5s;
                                -o-transition: all .5s;
                                z-index: 1;
                            }
                        
                            h4 {
                                font-size: 18px;
                            }
                        }
                    
                        .paragraph {
                            font-size: 14px;
                            line-height: 24px;
                            color: #585c63;
                            margin: 0;
                        }
                    }
                
                }
            
                .blogTitle {
                    color: #585c63;
                    text-transform: capitalize;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 600;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                
                    &:hover {
                        color: #44d7b6;
                    }
                }
            
            }   
        }
    
        &.mostLikedBox {
            &.sticky {
                position: sticky;
                top: 120px; // Adjust based on your layout
                z-index: 10;
                // background-color: white;
                // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;
            }
        }
    
        ul {
        
            .quickLink {
                // display: inline-block;
                margin-right: 8px;
                margin-bottom: 15px;
            
                .mostLiked {
                    font-size: 14px;
                    color: #969ba1;
                    padding: 5px;
                    text-transform: capitalize;
                    border: 1px solid #eaeaea;
                    transition: all .3s;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;
                
                    &:hover {
                        background-color: #44d7b6;
                        color: $whiteColor;
                        border-color: #44d7b6;
                    }
                }
            }
        }
    
    }

}