@import '../Style/Layout/Layout.module.scss';

.focusedInput {
    caret-color: $mauveColor !important;
    border: 1px solid $mauveColor !important;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.forgetPasswordSec {
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 0;

    .formContent {
        position: relative;
        background-color: $whiteColor;
        box-shadow: 11px 10px 38px 20px rgba(0, 0, 0, 0.1);
        width: 90%;
        height: 75%;
        overflow: hidden;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        z-index: 10;
    
        .forgetPasswordContainer {
            height: 100%;
        
            .image {
                text-align: center;
                position: relative;
                overflow: hidden;
                // height: 200px;
                height: 30%;
            
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 200%;
                    background-color: #f2f9ff;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transform: translate(0, -50%);
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    z-index: -1;
                }

                img {
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    bottom: -20%;
                    transform: translate(-50%);
                    -webkit-transform: translate(-50%);
                    -moz-transform: translate(-50%);
                    -ms-transform: translate(-50%);
                    -o-transform: translate(-50%);
                }
            }
        
            .formContainer {
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
            
                .forgetPasswordTitles {
                    text-align: center;
                    padding: 20px 50px;
                
                    .title {
                        font-size: $titleSize;
                        font-family: $fontSandBold;
                        margin-bottom: 20px;
                    }
    
                    .description {
                        width: 70%;
                        opacity: .5;
                        margin-bottom: 20px;
                    }
    
                    .confirmEmail {
                    
                        .inputField {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            width: 70%;
                            margin: 0 auto;
                            overflow: hidden;
                            border: 1px solid rgb(0, 0, 0, .2);
                            margin-bottom: 15px;
                            padding: 5px 15px;
                            border-radius: 7px;
                            -webkit-border-radius: 7px;
                            -moz-border-radius: 7px;
                            -ms-border-radius: 7px;
                            -o-border-radius: 7px;
                        
                            input {
                                caret-color: $mauveColor;
                                // color: $mauveColor;
                                border: none !important;
                                background-color: transparent !important;
                            
                                &:focus {
                                    border: 2px solid $mauveColor;
                                    outline: none !important;
                                    box-shadow: none !important;
                                }
                            
                                &:-webkit-autofill,
                                &:-webkit-autofill:focus {
                                    transition: background-color 0s 600000s, color 0s 600000s !important;
                                }
                            
                                &::placeholder {
                                    font-weight: 700;
                                    transition: all .5s;
                                    -webkit-transition: all .5s;
                                    -moz-transition: all .5s;
                                    -ms-transition: all .5s;
                                    -o-transition: all .5s;
                                }
                            
                                &:focus::placeholder {
                                    color: transparent;
                                }
                            }
                        }

                        .btns {
                            margin-top: 20px;
                            margin-right: 0 !important;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        
                            .confirmBtn {
                                display: block;
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Media Query 
@media (max-width: 450px) {
    .image {
        height: 20% !important;
    
        img {
            width: 130px !important;
            height: 130px !important;
        }
    }

    .formContainer {

        .forgetPasswordTitles {
            padding: 20px !important;
        }
    
        .title {
            font-size: 25px !important;
        }
    
        .description {
            width: 100% !important;
        }
    
        .inputField {
            width: 100% !important;
        }
    
        .btns {
        
            .confirmBtn {
                display: block;
                width: 100%;
            }
        }
    }

}

@media (max-width: 380px) {
    .image {
    
        img {
            width: 120px !important;
            height: 120px !important;
        }
    }

    .formContainer {
    
        .title {
            font-size: 22px !important;
        }
    
        .description {
            font-size: 13px !important;
        }
    }
}