// Quicksand Font
@font-face {
    font-family: sandBold;
    src: url('../Quicksand/static/Quicksand-Bold.ttf');
}

@font-face {
    font-family: sandSemiBold;
    src: url('../Quicksand/static/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: sandMedium;
    src: url('../Quicksand/static/Quicksand-Medium.ttf');
}

@font-face {
    font-family: sandRegular;
    src: url('../Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
    font-family: sandLight;
    src: url('../Quicksand/static/Quicksand-Light.ttf');
}

// Amatic_SC Font
@font-face {
    font-family: AmatiBold;
    src: url('./Amatic_SC/AmaticSC-Bold.ttf');
}

@font-face {
    font-family: AmatiRegular;
    src: url('./Amatic_SC/AmaticSC-Regular.ttf');
}

// Nunito Sans
@font-face {
    font-family: NunBlack;
    src: url('./Nunito_Sans/static/NunitoSans_10pt-Black.ttf');
}

@font-face {
    font-family: NunMedium;
    src: url('./Nunito_Sans/static/NunitoSans_10pt-Medium.ttf');
}

// Black Ops one
@font-face {
    font-family: BlackOps;
    src: url('./Black_Ops_One/BlackOpsOne-Regular.ttf');
}

// Kalam
@font-face {
    font-family: KalamLight;
    src: url('./Kalam/Kalam-Light.ttf');
}

@font-face {
    font-family: KalamRegular;
    src: url('./Kalam/Kalam-Regular.ttf');
}

@font-face {
    font-family: KalamBold;
    src: url('./Kalam/Kalam-Bold.ttf');
}